<div class="container-fluid mycontainer">
    <div class="row">
        <div style="width: 50%; height: 50%" class="col-md-6 col-lg-3">
            <canvas #lineChartCanvas style="width: 100%; height: 100%"></canvas>
        </div>
        <div class="card col-md-6 col-lg-3" style="width: 50%">
            <div class="card-body">
                <h5 class="card-title">TESLA</h5>
                <h6 class="card-subtitle mb-2 text-muted">About Tesla</h6>
                <br />
                <h6 class="card-text">Current Price:{{ tsla.c }}</h6>
                <div class="row">
                    <div class="col-6">
                        <h6 class="card-text">High Price:{{ tsla.h }}</h6>
                    </div>
                    <div class="col-6">
                        <h6 class="card-text">Low Price:{{ tsla.l }}</h6>
                    </div>
                </div>
                <br />
                <p>
                    Tesla, Inc. is an American multinational automotive and clean energy company headquartered in
                    Austin, Texas. Tesla designs and manufactures electric vehicles, stationary battery energy storage
                    devices from home to grid-scale, solar panels and solar roof tiles, and related products and
                    services.
                </p>
            </div>
        </div>
    </div>
</div>