<!-- <button (click)="generateGraph()">Search</button> -->
<div style="background-image: url('../../assets/v1016-a-08.jpg'); background-repeat: no-repeat; background-size:cover; min-height: 100vh; ">
<div class="container-fluid mycontainer">
    <div class="row">
        <div style="width: 50%; height: 50%;" class="col-md-6 col-lg-3">
            <canvas #lineChartCanvas style="width: 100%; height: 100%;"></canvas>
        </div>
        <div class="card col-md-6 col-lg-3" style="width: 50%;">
            <div class="card-body">
                <h5 class="card-title">APPLE</h5>
                <h6 class="card-subtitle mb-2 text-muted">About Apple</h6>
                <br>
                <h6 class="card-text">Current Price:{{apple.c}}</h6>
                <div class="row">
                    <div class="col-6">
                        <h6 class="card-text">High Price:{{apple.h}}</h6>
                    </div>
                    <div class="col-6">
                        <h6 class="card-text">Low Price:{{apple.l}}</h6>
                    </div>
                </div>
                <br>
                <p>Apple Inc. is an American multinational technology company headquartered in Cupertino, California.
                    Apple is the world's largest technology company by revenue, with US$394.3 billion in 2022 revenue.
                    As of March 2023, Apple is the world's biggest company by market capitalization.</p>
            </div>
        </div>
    </div>
</div>
</div>
<!-- <div class="container"> -->


<!-- </div> -->