<div style="background-image: url('../../assets/v1016-a-08.jpg'); background-repeat: no-repeat; background-size:cover; min-height: 100vh; ">
<div class="container-fluid mycontainer">
    <div class="row">
        <div style="width: 50%; height: 50%" class="col-md-6 col-lg-3">
            <canvas #lineChartCanvas style="width: 100%; height: 100%"></canvas>
        </div>
        <div class="card col-md-6 col-lg-3" style="width: 50%">
            <div class="card-body">
                <h5 class="card-title">GOOGLE</h5>
                <h6 class="card-subtitle mb-2 text-muted">About Google</h6>
                <br />
                <h6 class="card-text">Current Price:{{ google.c }}</h6>
                <div class="row">
                    <div class="col-6">
                        <h6 class="card-text">High Price:{{ google.h }}</h6>
                    </div>
                    <div class="col-6">
                        <h6 class="card-text">Low Price:{{ google.l }}</h6>
                    </div>
                </div>
                <br />
                <p>
                    Google LLC is an American multinational technology company focusing on
                    artificial intelligence, online advertising, search engine technology,
                    cloud computing, computer software, quantum computing, e-commerce, and
                    consumer electronics.
                </p>
            </div>
        </div>
    </div>
</div>
</div>